body {
    
}

.firstPage {
    height: 750px;
    background-image: linear-gradient(-53deg,rgb(0, 102, 117, 0.9), rgb(13, 110, 86, 0.8)), url(images/firstPageBackground.png);
}

.firstPageHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Raleway";
    margin-left: 75px;
    margin-right: 75px;
}

.logo {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo img {
    margin-right: 5px;
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.logo span {
    font-weight: bold;
    margin-left: 35px;
    margin-top: -20px;
}
.firstPageNavBar a {
    font-weight: 600;
    text-decoration: none;
    margin: 0 25px;
    color: #ffffff;
}

.firstPageNavBar a.active {
    color: #061e37;
}

.signUpButton {
    border: 1px solid #ffffff;
    height: 25px;
    width: 80px;
    font-weight: 400;
    background: none;
    color: #ffffff;
}

.firstPage h1 {
    font-size: 55px;
    line-height: 65px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 800;
    text-transform: uppercase;
    
    width: 500px;
    margin-left: 75px;
}

.firstPage h2 {
    width: 591px;
    height: 85px;
    font-size: 18px;
    line-height: 35px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 400;
    margin-left: 75px;
    margin-bottom: 40px;
}

button {
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-family: "Raleway";
    font-weight: 700;
    border: none;
    
}


.darkButton {
    margin-left: 75px;
    background-color: #061e37;
    color: #ffffff;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
}

.whiteButton {
    background-color: #ffffff;
    color:  #061e37;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
}

.firstPageBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}
.firstPageRight {
    margin-right: 75px;
 
}


.firstPageVideoImage {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}



.easyAndUseful {
    height: 800px;
    background: #ffffff;
    font-family: "Raleway";
}

.mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.mainText h1 {
    font-size: 45px;
    color: #061e37;
    font-weight: 600;
    text-align: center;
}

.mainText h2 {
    font-size: 25px;
    color: #b0bec5;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.mainText p {
    width: 565px;
    height: 63px;
    font-size: 15px;
    line-height: 25px;
    color: #b0bec5;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.toolDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 90px;
}

.toolDescriptionLogo {
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toolDescription h2 {
    font-size: 20px;
    line-height: 25px;
    color: #061e37;
    font-weight: 600;
    text-align: center;
}

.toolDescription h3 {
    width: 350px;
    height: 52px;
    font-size: 15px;
    line-height: 20px;
    color: #78909c;
    font-weight: 400;
    text-align: center;
}

.easyAndUseful button {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
    background-color: #1de9b6;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}